<ion-header>
  <ion-toolbar>
    <ion-row>
        <ion-menu-button></ion-menu-button>
        <ion-title text-center>
          {{'RESULTS' | translate}}
        </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content class='gamebackground'>
  <ion-card text-center style="margin-top: 25%">
    <ion-card-header class="text-center title-card-sized">{{'FINALSCORE' | translate}}</ion-card-header>
    <ion-card-content > 
      <ion-grid>
          <ion-row *ngFor="let player of players; let i = index">
            <ion-col align-self-center>
                <ion-icon name="medal" color="{{returnColor(i)}}" style="vertical-align: middle"></ion-icon>
            </ion-col>
            <ion-col align-self-center>
                <ion-label style="color: #e93578" >{{player.name}}</ion-label>
            </ion-col>
            <ion-col align-self-center>
                <ion-label style="color: #e93578" >{{player.count}} {{'POINTS' | translate}}</ion-label>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
<ion-row>
  <ion-col>
      <ion-button class="button button-full" (click)="repeatGame()">{{'RESTART' | translate}}</ion-button>
  </ion-col>
</ion-row>
  
</ion-content>

<ion-footer>
  <ion-button class="button button-full" (click)="newGame()">{{'NEWGAME' | translate}}</ion-button>
</ion-footer>