<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
      <ion-menu-button>
        <ion-button>
          <ion-icon style="color:white" src = "../../assets/icon/md-menu.svg"></ion-icon>
        </ion-button>
        </ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      {{'ROUND' | translate}} {{actualRound >= 0 ? actualRound: null}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class='gamebackground'>
  <ion-row>
    <ion-col text-end>
      <ion-button (click)="clearGame()">Reset</ion-button>
    </ion-col>
  </ion-row>
  <ion-button class="button button-full" (click)="nextRound()" [disabled]="actualPoints.indexOf(null) != -1">{{buttonText | translate}}</ion-button>
  <ion-card text-center>
    <ion-card-header class="text-center title-card-sized">{{roundText | translate}}</ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row *ngFor="let player of players; let i = index">
              <ion-col align-self-center>
                  <ion-label color="primary">{{player.name}}</ion-label>
              </ion-col>
              <ion-col align-self-center>
                  <ion-input type="number" [(ngModel)]="actualPoints[i]" placeholder="{{'ADDPOINT' | translate}}"></ion-input>
              </ion-col>
              <ion-col align-self-center>
                  <ion-label style="color: #e93578" >Pts: {{player.count}}</ion-label>
              </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>