<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center name="bubbles">
      Ronda {{actualRound >= 0 ? actualRound: null}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col text-end>
        <ion-button (click)="clearGame()">Reset</ion-button>
      </ion-col></ion-row>
  <ion-card text-center>
    <ion-card-header class="text-center title-card-sized">{{roundText}}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="text-center" *ngFor="let player of players; let i = index">
          <ion-label color="primary" floating>{{player.name}}</ion-label>
          <ion-input type="number" [(ngModel)]="actualPoints[i]" placeholder="Pts: {{player.count}}"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>

  <ion-row>
    <ion-col text-center>
      <ion-button (click)="nextRound()" [disabled]="actualPoints.indexOf(null) != -1">{{buttonText}}</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>