<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'OPTIONS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label>{{'LANGUAGE' | translate}}</ion-label>
      <ion-select [(ngModel)]="langSelected" interface="popover" (ionChange)="selectLanguage(langSelected)">
        <ion-select-option value="en">{{'ENGLISH' | translate}}</ion-select-option>
        <ion-select-option value="es">{{'SPANISH' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
</ion-content>
