<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-button>
          <ion-icon style="color:white" src = "../../assets/icon/md-menu.svg"></ion-icon>
        </ion-button>
        </ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      {{'OPTIONS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>{{'LANGUAGE' | translate}}</ion-label>
  <ion-select [(ngModel)]="langSelected" interface="popover" (ionChange)="selectLanguage(langSelected)">
    <ion-select-option value="en">{{'ENGLISH' | translate}}</ion-select-option>
    <ion-select-option value="es">{{'SPANISH' | translate}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>{{'AUDIOENABLE' | translate}}</ion-label>
  <ion-select [(ngModel)]="audioEnabled" interface="popover" (ionChange)="setAudio(audioEnabled)">
    <ion-select-option value='false'>{{'AUDIOOFF' | translate}}</ion-select-option>
    <ion-select-option value='true'>{{'AUDIOON' | translate}}</ion-select-option>
  </ion-select>
</ion-item>
</ion-content>
