<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Selección de Jugadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card text-center>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" autocapitalize="on" [(ngModel)]="newPlayer" placeholder="¡De 2 a 8 jugadores!"></ion-input>
      </ion-item>
        <ion-row>
          <ion-col text-center>
            <ion-button fill="outline" (click)="setNewPlayer(newPlayer)" [disabled]="players.length > 7">
              Añadir Jugador
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-card-content>

  </ion-card>
  <ion-card text-center *ngIf="players.length > 0">
    <ion-card-header class="text-center">Lista de Jugadores</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let player of players; let i = index">
          <ion-label item-start>J{{i+1}}: {{player.name}}</ion-label>
          <ion-row>
            <ion-col text-center>
              <ion-button danger item-end (click)="removePlayer(player)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
    <ion-row *ngIf="players.length > 1">
      <ion-col text-center>
        <ion-button (click)="setPlayers()">Empezar</ion-button>
      </ion-col>
    </ion-row>
</ion-content>