<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home"></ion-back-button> -->
      <ion-menu-button>
      <!-- <ion-button>
        <ion-icon style="color:white" src = "../../assets/icon/md-menu.svg"></ion-icon>
      </ion-button> -->
      </ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      Continental++
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class='homebackground'>

  <ion-card text-center>
    <ion-card-content>
      <ion-row justify-content-center align-items-center>
        <ion-text class="text-center" style="color: #e93578">{{ 'DECK' | translate }}</ion-text>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-text class="text-center" style="color: #e93578">{{ 'QUESTION' | translate }}</ion-text>
      </ion-row>
    </ion-card-content>

  </ion-card>
  <ion-card text-center class='contentBox'>
    <ion-card-header class="text-center" style="color: #e93578">{{ 'INTRO' | translate }}</ion-card-header>
    <ion-card-content style="padding-bottom: 5px">
      <ion-item>
        <ion-label class="text-input">{{ 'NEW_PLAYER' | translate }} {{ players.length + 1 }}:</ion-label>
        <ion-input type="text" autofocus autocapitalize="on" [(ngModel)]="newPlayer" (keyup.enter)="setNewPlayer(newPlayer)" maxlength="9">
        </ion-input>
      </ion-item>
        <ion-text *ngIf="maximumPlayers == true" class="text-center" style="color: #e93578">{{ 'LIMIT' | translate }}</ion-text>
        <ion-button [disabled]="players.length > 7 " class="button button-full" (click)="setNewPlayer(newPlayer)" >{{ 'ADDPLAYER' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="players.length > 0">
    <ion-card-header class="text-center" style="color: #e93578">{{ 'PLAYERS' | translate }}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let player of players; let i = index">
          <ion-label item-start>{{ 'PLA' | translate }}{{i+1}}: {{player.name}}</ion-label>
          <ion-row>
            <ion-col text-center>
              <ion-button danger item-end (click)="removePlayer(player)" style="font-size: 20px">
                <ion-icon src = "../../assets/icon/md-close.svg" style="font-size: 22px"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer >
  <ion-button [disabled]="players.length < 2 " class="button button-full" (click)="setPlayers()">{{ 'START' | translate }}</ion-button>
</ion-footer> 